/* LAYOUT 
--------------------------------------------------------------------
A Few Basic Default Styles to get you headed in the right direction.
--------------------------------------------------------------------
*/

div { position:relative } /* This will save you having to declare each div's position as 'relative' and allows you to absolutely position elements inside them */

.aligncenter 					{display:block; margin:0 auto 21px auto }
.alignleft 						{float:left;margin:1.5em 1em 0 0 }
.alignright 					{float:right; margin:1.5em 0 0 1em }
.alignnone  					{clear:both;display:block;margin-bottom:21px;}
.wp-caption 					{border:1px solid #ccc; text-align:center; background:#fff;margin-top:0px;padding:4px 2px 0 2px;}
.wp-caption-text 				{color:#999;margin:0;text-align: center}
.gallery 						{margin:0;padding:0}
.gallery .gallery-item img,
.gallery .gallery-item img.thumbnail {max-width: 80%;height: auto;padding:1%;margin:0 auto}
.wp-smiley 						{max-height:18px;margin:0 !important}

abbr                             {cursor:help}
acronym                          {text-transform: uppercase}
address                          {font-style:italic;margin-bottom:18px}
cite                             {font-style:italic}
del                              {text-decoration:line-through}
dfn, ins                         {font-style: italic}
dl                               {font-size:1.1667em;line-height:1.5em;margin:1.5em 0}
    dt                               {font-weight:bold;}
    dd                               {margin-bottom:18px}
pre, code                              {background:transparent;font: 12px Monaco, monospace, Courier, "Courier New"; font-weight:normal}
code                                   {background-color:#f1f1f1}
small                            {font-size:10px}
strong                           {font-weight:bold}
ol                               {list-style-type:decimal}
ol ol                            {list-style:upper-roman;margin-left:2.5em}
ol ol ol                         {list-style:lower-roman}
.entry ul                        {list-style-type: square}
ul ul                            {margin:0 0 0 2.5em}
#secondary ul li ul li           {margin:0}
#secondary ul li li li           {margin-left:2.5em}

input, textarea                  {font-size: 1em;font-family:Helvetica, Arial, sans-serif;padding:3px}
.recommended-tags,
.recommended-tags code           {font-size:11px}